html{
    scroll-behavior: smooth;
}

body{
    margin:0px;
   background-color: #301B3F;
    transition: background 0.2s linear;
}

nav{
    border-bottom: solid 0.1px #A7C4BC;
    background-color: #0D335D;
    width: 100%;
    min-height: 40px;
    position:fixed;
    top: 0;
    display: flex;
    z-index: 9;
}

nav ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
    align-self: center;
}

nav ul li{
    display: inline-block;
    padding-right: 10%;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    color:white;
}

nav ul li a:hover{
    color: #FF5F40;
}

#menu-toggle{
  visibility: hidden;
  width:45px;
  height: 45px;
  position: fixed;
  top:10px;
  right: 10px;
  border-radius: 5px;
  z-index: 3000;
}

#menu-toggle img{
    cursor:pointer;
    width: 30px;
    height: 30px;
    position: relative;
    left:7.5px;
    top:5px;
}

#menu-toggle:hover{
    background-color:#2C2E43;
}

#switch{
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 999;
}

.label{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:grey;
    display: flex;
    border-radius: 50px;
    height: 19px;
    width: 50px;
    padding: 5px;
}

.fa-moon{
    color:yellow;
}

.fa-sun{
    color:yellow;
}

.ball{
    background-color: lightskyblue;
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label{
   background-color: #343F56;
}

.checkbox:checked + .label .ball{
    transform: translateX(30px);
}

.checkbox{
    display: none;
}

header{
    margin-top: 40px;
    padding: 1%;
    background-color: #1C1427;
}

header h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 3em;
    margin-left: 7%;
    color:#9DDFD3;
    text-shadow: 3.5px 3px 0px rgba(0,0,0,0.2);
}

header h2{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    margin-left: 7%;;
    color:#9DDFD3;
    text-shadow: 3.5px 3px 0px rgba(0,0,0,0.2);
}

main{
    width: 100%;
    height: 61vh;
}

figure{
    width: 600px;
    height: 300px;
    float: left;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

figure img{
    width: 257px;
    height: 257px;
    max-width: 400px;
    margin-left: 8%;
    margin-top: 7%;
    border: solid 1px white;
    border-radius: 50%;
}

aside{
    width: calc(100% - 600px);
    float: right;
    padding-right: 45px;
    position: relative;
    position:relative;
    top: 20%;
    z-index: 1;
}

aside p{
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    font-size: 1.65em;
    width: 85%;
    text-align:justify;
    color: #9DDFD3;
}

figure, aside{
    box-sizing: border-box;
    margin: 0;
}

section{
    display:block;
}

#about-text-box{
    width: 600px;
    padding-left: 5%;
    padding-right: 2%;
    box-sizing: border-box;
    float: left;
}

#skills-icons-box{
    float: right;
    box-sizing: border-box;
    width: calc(100% - 600px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-icons-box h2{
    text-align: center;
    color:#9DDFD3;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
}

#about-text-box  div{
    min-height: 0;
}

#about-text-box  p{
    text-align: justify;
    width: 90%;
    padding-left: 5%;
}

#about-text-box  div h1,p{
    text-align: center;
    font-family: 'Pontano Sans', sans-serif;
    color: #9DDFD3;
}

#logos{
    width: 50%;
    height: 50%;
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#logos > * {
    padding-right: 25px;
    padding-left: 25px;
}

#logos i{
    color: #9DDFD3;
}

#logos .devicon-html5-plain-wordmark{
    font-size: 45px;
}

#logos .devicon-java-plain-wordmark{
    font-size: 60px;
}

#logos .devicon-python-plain{
    font-size: 45px;
}

#logos .devicon-mysql-plain{
    font-size: 48px;
}

#logos .devicon-git-plain-wordmark{
    font-size: 68px;
}

#logos .devicon-css3-plain{
    font-size: 40px;
}

#bottom-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#bottom-section div{
    align-self: center;
    width: 60%;
    height: 50%;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    background-color: #0D335D;
    border-radius: 5px;
}

#bottom-section div h1{
    font-family: 'Pontano Sans', sans-serif;
    color:#9DDFD3;
    padding-left: 0;
    text-align: center;
}

#bottom-section div p{
    font-family: 'Pontano Sans', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    color: #9DDFD3;
}

#bottom-section div ul{
    width: 70%;
    height: 30%;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
    margin-top: 35px;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
    min-height: 80px;
}

#bottom-section div ul .devicon-linkedin-plain-wordmark{
    color:white;
    font-size: 80px;
}

#bottom-section div ul a{
    text-decoration: none;
}

#bottom-section div ul img[src="Imgs/hkr.png"]{
    width: 40px;
    height: 40px;
    padding-top: 22px;
}

#bottom-section div ul img[src = "Imgs/gmail.png"]{
    width: 40px;
    height: 40px;
    padding-top: 22px;
}

footer{
    margin: 0;
    width: 100% ;
    min-height: 100px;
    background-color:  #1C1427;
    display: flex;
    justify-content: center;
}

footer h2{
    font-family: 'Maven Pro', sans-serif;
    color:#9DDFD3;
    font-size: 1em;
    align-self: center;
}

/*MEDIA QUERIES ALL BELOW*/

@media  screen and (max-width: 768px) {
    #navigation{
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(44, 46, 67);
      position: fixed;
      top:0px;
      left:0px;
      transition:visibility 0.3s linear,opacity 0.3s linear, transform 2s;
      z-index: 1000;
    }

    #menu-list{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    #menu-list li{
        padding-right: 0;
    }

    #menu-list li a{
        font-size: 30px;
        font-weight:bold;
    }
    
    #menu-toggle{
      visibility: visible;
    }

    #switch{
        visibility: visible !important;
        position: absolute;
        top: 16px;
        left: 7px;
    }

    .label{
        height: 17px !important;
        width: 44px !important;
        padding: 1px;
    }

    .ball{
        width: 18px !important;
        height: 18px !important;
    }

    .checkbox:checked + .label .ball{
        transform: translateX(26px) !important;
    }

    figure img{
        width: 230px;
        height: 230px;
    }

    #logos{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media  screen and (max-width: 1002px) {
    nav{
        position:sticky;
    }

    header{
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 160px;
    }

    header h1{
        font-size: 2.15em;
        margin-left: 0;
        text-align: center;
        width: 90%;
    }

    header h2{
        display: none;
    }

    nav ul li{
        padding-right: 3.5% !important;
    }

    main{
        height:  auto;
    }
   
    figure{
        width: 100%;
    }

    figure img{
        margin: auto;
    }

    aside{
        float: none;
        display: block;
        width: 100%;
        position:unset;
        top: 0;
    }

    aside p{
        font-size: 1.2em;
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }
    
    div h1, div p{
        padding-left: 0;
    }
   
    section{
        display: block;
    }

    #skills-icons-box{
        float: none;
        width: 100%;
    }
    
    #logos{
        padding-top: 0;
    }
    
    #about-text-box{
        float: none;
        margin-top: 40px;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #bottom-section div{
        width: 100%;
    }
    
    body{
        padding: 0;
    }
    
}

.togglear{
  visibility: visible !important;
  opacity: 1 !important;
  transition:visibility 0.3s linear,opacity 0.3s linear, transform 2s;
}

.tog-out{
    visibility: hidden !important;
    opacity: 0 !important;
    transition:visibility 0.3s linear,opacity 0.3s linear, transform 2s;
  }

 
 body.light{
     background-color: #96BAFF;
 }

 body.light p{
    color: #145374;
}

body.light #about-text-box div h1{
    color: #145374;
}

body.light header{
    background-color: #7C83FD;
}

body.light footer{
    background-color: #145374;
}

body.light #skills-icons-box h2{
    color: #145374;
}

body.light header h1, header h2{
    /*color: #CFFFFE;*/
    color: #0A1931;
    text-shadow: none;
}

body.light #logos i{
    color: #145374;
}