html{
    scroll-behavior: smooth;
}

body{
    margin:0px;
}

nav{
    border-bottom: solid 0.1px #A7C4BC;
    background-color: #2C2E43;
    width: 100%;
    min-height: 30px;
    position:fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    /*z-index: 9; /*Otherwise when scrolling, beneath content goes on top*/
}

nav p{
    display: inline-block;
    position: relative;
    left: 8%;
    padding: 3px;
    margin: 0;
    font-family: 'Sulphur Point', sans-serif;
    color: #CEE5D0;
}

nav ul{
    display: inline-block;
    position: relative;
    left: 60%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding-right: 1em;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Sulphur Point', sans-serif;
    color:white;
}

nav ul li a:hover{
    color: #7C83FD;
}

header{
    margin-top: 30px;
    padding: 2%;
    background-color: #3D087B;
}

header h1{
    font-family: 'Inter', sans-serif;
    font-size: 2.7em;
    margin-left: 7%;
    color:#C2FFD9;
    text-shadow: 3.5px 3px 0px rgba(0,0,0,0.2);
}

header h3{
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    margin-left: 7%;;
    color:#C2FFD9;
    text-shadow: 3.5px 3px 0px rgba(0,0,0,0.2);
}


/*
main{
    position: absolute;
    top: 34%;
    height: 66vh;
    width: 100%;
    padding: 0px;
    background-color: #583D72;
}






#heading{
    display: inline-block;
    position: relative;
    width: 70%;
    height: 10%;
    top:10%;
    left: 8%;
    z-index: 3;
}


#heading h1{
    position: absolute;
    top: 50px;
    margin: 0px;
    left: 0.5%;
    font-size: 55px;
    font-size:4.2vw;
    font-family: 'Inter', sans-serif;
    color:#C2FFD9;
    text-shadow: 3.5px 3px 0px rgba(0,0,0,0.2);
    z-index: 2;
}


#heading h3{
    position:relative;
    top:85px;
    left: 0.5%;
    font-size: 30px;
    font-size: 2.5vw;
    font-family: 'Inter', sans-serif;
    color:#C2FFD9;
}


#behind{
    display: flex;
    position: absolute;
    top: 4%;
    left: 5%;
    background-color: blue;
    width: 40%;
    height: 85%;
}

#behind img{
    width:100%;
    height: 100%;
    margin: 0px;
}

#presentation {
    position: absolute;
    display: block;
    width: 40%;
    top: 24%;
    left: 52%;
}

#presentation p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 21px;
    color: white;
}

#learn{
    position: absolute;
    top: 70%;
    left: 67%; 
    font-family: 'Pontano Sans', sans-serif;
    font-size: 21px;
    padding: 18px;
    border-width: 0px;
    border-radius: 30px;
    background-color: #77ACF1;
    color:white;
    cursor: pointer;
    transition-duration: 0.4s;
}

#learn:hover {
    background-color: #7C83FD;
    color: white;
  }

  */
#about{
    position:absolute;
    height: 100vh;
    width: 100%;
    top:100%;
    background-color: #583D72;
}

#path{
    display: inline-block;
    top:18%;
    left: 105px;
    position: relative;
    width: 45%;
    margin: 0px;
}

#currently{
    display: inline-block;
    top:55%;
    left: 105px;
    position: absolute;
    width: 45%;
    margin:0px;
}

p:nth-of-type(1) {
    color:white;
    font-size: 18px;
    font-family: 'Pontano Sans', sans-serif;
}

h2:nth-of-type(1) {
    color:white;
    font-family: 'Pontano Sans', sans-serif;
}

#vertical-line{
    border-left: 2px solid white;
    position: absolute;
    top: 20%;
    left: 57%;
    height: 400px;
}

#skills h1{
    color:white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 17%;
    right: 20%;
    padding-bottom: 10px;
    border-bottom: 1.5px solid white;
}

#logos{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 63%;
    width: 30%;
    height: 80%;
}

#logos .devicon-html5-plain-wordmark{
    position: absolute;
    top: 138px;
    left: 310px;
    font-size: 42px;
    color:white;
}

#logos .devicon-java-plain-wordmark{
    position: absolute;
    top: 130px;
    left: 10px;
    font-size: 55px;
    color:white;
}

#logos .devicon-python-plain{
    position: absolute;
    top: 140px;
    left: 160px;
    font-size: 43px;
    color:white;
}

#logos .devicon-mysql-plain{
    position: absolute;
    top: 260px;
    left: 20px;
    font-size: 46px;
    color:white;
}

#logos .devicon-git-plain-wordmark{
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 66px;
    color:white;
}

#logos .devicon-css3-plain{
    position: absolute;
    top: 262px;
    left: 315px;
    font-size: 38px;
    color:white;
}

footer{
    position: absolute;
    top: 200%;
    width: 100%;
    height: 100vh;
    background-color: #583D72;
}

#repository{
    position: absolute;
    height: 38%;
    width: 70%;
    background-color: #7952B3;
    left: 15%;
    top: 12%;
    border-radius: 12px;
}

#repository h1{
    color: white;
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
}

#repository div{
    position: absolute;
    width : 50%;
    height: 70%;
    top: 24%;
    left: 10%;
}

#repository p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;
}

#repository  a i{
    color: white;
    display: inline-block;
    position: absolute;
    font-size: 90px;
    top: 35%;
    right: 15%;
}

#contact{
    position: absolute;
    height: 38%;
    width: 70%;
    /*background-color: #7952B3;*/
    left: 15%;
    top: 56%;
    border-radius: 12px;
}

#contact h1{
    color: white;
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
}

#contact ul{
    position: relative;
    left: 15%;
}

#contact ul a{
    text-decoration: none;
    padding-right: 20%;
}

#contact ul img{
    height: 3.5%;
    width: 6%;
}

#contact ul a i{
    color: white;
    font-size: 80px;
}

#contact ul a:nth-of-type(1){
    position: relative;
    top: 10px;
}

@media screen and (min-width: 769 px){


}
    
