html{
    scroll-behavior: smooth;
}

body{
    margin:0px;
    background-color: #583D72;
}

nav{
    border-bottom: solid 0.1px #A7C4BC;
    background-color: #2C2E43;
    width: 100%;
    min-height: 30px;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
}

nav #Logo-box{
    width: 40%;
    min-width: 400px;
    display: flex;
    justify-content: center;
}

#Logo-box p{
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 22%;
    align-self: center;
    font-family: 'Sulphur Point', sans-serif;
    color: #CEE5D0;
}

nav ul{
    width: 60%;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    flex-grow: 1;
}

nav ul li{
    margin: 0;
    padding-right:13%;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Sulphur Point', sans-serif;
    color:white;
}

nav ul li a:hover{
    color: #7C83FD;
}

header{
    margin-top: 30px;
    padding: 2%;
    background-color: #3D087B;
}

header h1{
    font-family: 'Inter', sans-serif;
    font-size: 2.7em;
    margin-left: 7%;
    color:#C2FFD9;
    text-shadow: 3.5px 3px 0px rgba(0,0,0,0.2);
}

header h3{
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    margin-left: 7%;;
    color:#C2FFD9;
    text-shadow: 3.5px 3px 0px rgba(0,0,0,0.2);
}

main{
    width: 100%;
    height: 56.7vh;
    display: flex;
    flex-wrap: wrap;
}

figure{
    width: 600px;
    height: 300px;
    float: left;
    justify-content: center;
}

figure img{
    width: 100%;
    max-width: 400px;
    margin-left: 20%;
    margin-top: 5%;
}

aside{
    width: calc(100% - 600px);
    margin: 0;
    height: 300px;
    float: right;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 45px;
}

aside p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 1.3em;
    color: white;
}

figure, aside{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    flex-grow: 1;
}

@media  screen and (max-width: 1002px) {
    nav{
        position:sticky;
    }
    nav #Logo-box{
        width: 100%;
        display: flex;
        justify-content: start;
    }
    #Logo-box p{
        padding-left: 5px;
    }

    nav ul{
        flex-direction: column;
        flex-grow: 1;
    }

    nav ul li{
        margin-left: 45%;
        padding: 0;
    }

    header{
        margin-top: 0;
    }

    header h1{
        font-size: 2.2em;
    }

    header h3{
        font-size: 1.2em;
    }

    figure{
        width: 100%;
    }
    
    figure img{
        margin: auto;
    }

    aside{
         align-items: flex-start;
    }

    aside{
        padding:30px;
        padding-top: 0px;
        height: 180px;
    }

    aside p{
        font-size: 1.1em;
    }
}

/*SECTION (MIDDLE OF PAGE) BEGGINS HERE*/

section{
    height: 100vh;
    width: 100%;
    background-color: #583D72;
    display: flex;
    flex-wrap: wrap;
}

#about-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#skills-icons-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-text-box, #skills-icons-box{
    width: 50%;
    height: 100%;
}

#about-text-box  div{
    width:75%;
    height: 30%;
    margin-bottom: 30px;
}

div h1, div p{
    font-family: 'Pontano Sans', sans-serif;
    color: white;
    padding-left: 9%;
}


@media  screen and (max-width: 1002px) {
    section{
        margin-top: 60px;
    }

    div h1, div p{
        padding-left: 0;
    }

    #skills-icons-box{
        width: 100%;
        flex-grow: 1;
    }
    
    #about-text-box{
        flex-grow: 1;
        width: 100%;
    }

    #about-text-box  div {
        width:85%;
    }

    #skills-icons-box h1{
        padding-right: 6%;
    }

}

#skills-icons-box h1{
    color:white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    padding-right: 8%;
}

#logos{
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#logos > * {
    padding-right: 25px;
    padding-left: 25px;
}

#logos .devicon-html5-plain-wordmark{
    font-size: 42px;
    color:white;
}

#logos .devicon-java-plain-wordmark{
    font-size: 55px;
    color:white;
}

#logos .devicon-python-plain{
    font-size: 43px;
    color:white;
}

#logos .devicon-mysql-plain{
    font-size: 46px;
    color:white;
}

#logos .devicon-git-plain-wordmark{
    font-size: 66px;
    color:white;
}

#logos .devicon-css3-plain{
    font-size: 38px;
    color:white;
}


/*
#behind{
    display: flex;
    position: absolute;
    top: 4%;
    left: 5%;
    background-color: blue;
    width: 40%;
    height: 85%;
}

#behind img{
    width:100%;
    height: 100%;
    margin: 0px;
}

#presentation {
    position: absolute;
    display: block;
    width: 40%;
    top: 24%;
    left: 52%;
}

#presentation p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 21px;
    color: white;
}

#learn{
    position: absolute;
    top: 70%;
    left: 67%; 
    font-family: 'Pontano Sans', sans-serif;
    font-size: 21px;
    padding: 18px;
    border-width: 0px;
    border-radius: 30px;
    background-color: #77ACF1;
    color:white;
    cursor: pointer;
    transition-duration: 0.4s;
}

#learn:hover {
    background-color: #7C83FD;
    color: white;
  }

  
#about{
    position:absolute;
    height: 100vh;
    width: 100%;
    top:100%;
    background-color: #583D72;
}



#path{
    display: inline-block;
    top:18%;
    left: 105px;
    position: relative;
    width: 45%;
    margin: 0px;
}

#currently{
    display: inline-block;
    top:55%;
    left: 105px;
    position: absolute;
    width: 45%;
    margin:0px;
}

p:nth-of-type(1) {
    color:white;
    font-size: 18px;
    font-family: 'Pontano Sans', sans-serif;
}

h2:nth-of-type(1) {
    color:white;
    font-family: 'Pontano Sans', sans-serif;
}

#vertical-line{
    border-left: 2px solid white;
    position: absolute;
    top: 20%;
    left: 57%;
    height: 400px;
}

#skills h1{
    color:white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 17%;
    right: 20%;
    padding-bottom: 10px;
    border-bottom: 1.5px solid white;
}

#logos{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 63%;
    width: 30%;
    height: 80%;
}

#logos .devicon-html5-plain-wordmark{
    position: absolute;
    top: 138px;
    left: 310px;
    font-size: 42px;
    color:white;
}

#logos .devicon-java-plain-wordmark{
    position: absolute;
    top: 130px;
    left: 10px;
    font-size: 55px;
    color:white;
}

#logos .devicon-python-plain{
    position: absolute;
    top: 140px;
    left: 160px;
    font-size: 43px;
    color:white;
}

#logos .devicon-mysql-plain{
    position: absolute;
    top: 260px;
    left: 20px;
    font-size: 46px;
    color:white;
}

#logos .devicon-git-plain-wordmark{
    position: absolute;
    top: 250px;
    left: 150px;
    font-size: 66px;
    color:white;
}

#logos .devicon-css3-plain{
    position: absolute;
    top: 262px;
    left: 315px;
    font-size: 38px;
    color:white;
}

footer{
    position: absolute;
    top: 200%;
    width: 100%;
    height: 100vh;
    background-color: #583D72;
}

#repository{
    position: absolute;
    height: 38%;
    width: 70%;
    background-color: #7952B3;
    left: 15%;
    top: 12%;
    border-radius: 12px;
}

#repository h1{
    color: white;
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
}

#repository div{
    position: absolute;
    width : 50%;
    height: 70%;
    top: 24%;
    left: 10%;
}

#repository p{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;
}

#repository  a i{
    color: white;
    display: inline-block;
    position: absolute;
    font-size: 90px;
    top: 35%;
    right: 15%;
}

#contact{
    position: absolute;
    height: 38%;
    width: 70%;
    background-color: #7952B3;
    left: 15%;
    top: 56%;
    border-radius: 12px;
}

#contact h1{
    color: white;
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
}

#contact ul{
    position: relative;
    left: 15%;
}

#contact ul a{
    text-decoration: none;
    padding-right: 20%;
}

#contact ul img{
    height: 3.5%;
    width: 6%;
}

#contact ul a i{
    color: white;
    font-size: 80px;
}

#contact ul a:nth-of-type(1){
    position: relative;
    top: 10px;
}

@media screen and (min-width: 769 px){


}
    
*/